/* Branding */
/*  Terracotta: #D4805C
	Green: #B2BAA3
	Cream: #FAF5EE
	Black: #282828
	Gray: #69655F
 */




* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Nunito Sans", sans-serif;
}

/*body {
	background-color: #FAF5EE;
}
*/

/* Navbar */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3rem;
	padding-top: 2rem;
	position: relative;
	align-items: center;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	position: sticky; 
	background-color: white;
}

.nav-logo {
	height: 1.5rem;
}

.main-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-nav-link:hover {
	cursor: pointer;
	color: #B2BAA3;
	transition: all 0.2s ease-in-out;
}


.main-nav-list {
	display: flex;
	list-style: none;
	gap: 2rem;
	align-items: center;
	color: black;
	margin: 0;
}

.main-nav-list a {
	text-decoration: none;
	color: black;
}

.section-hero {
	/*height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;*/
}

.hero-container {
/*	height: 100vh;*/
}

.subheadline-1 {
	letter-spacing: 0.1rem;
}

.hero-title {
	font-family: "Spectral", sans-serif;
/*	text-align: center;*/
	max-width: 36rem;
	font-size: 3rem;
	color: #D4805C;
}

.left-hero {
	background-color: #FAF5EE;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.cta-button {
	text-decoration: none;
	color: black;
	border: 1px solid black;
	padding: 1rem 2rem;
	margin-top: 0.5rem;
	display: inline-block;
	border-radius: 30px;
	width: auto;
	transition: all 0.3s ease-in-out;
}

.cta-button:hover {
	cursor: pointer;
	background-color: #B2BAA3;
	color: white;
	border: 1px solid #B2BAA3;

}

.right-hero {
/*	padding-top: 106px;*/
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mica-photo {
	max-width: 30rem;
}

/* About Section */

h3 {
	color: #D4805C;
	font-family: "Spectral", sans-serif;
	font-size: 2.5rem;
}

p {
	color: #282828;
	font-size: 1.25rem;
}

.about-container {
	max-width: 1024px;
	margin: 0 auto;
	padding-top: 9rem;
	margin-bottom: 9rem;
}

/* Projects Section */
.projects-section {
	background-color: #FAF5EE;

}

.projects-text {
	background-color: #FAF5EE;
/*	height: 75vh;*/
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-left: 4rem;
	padding-top: 7rem;
	padding-bottom: 2rem;
}

/*.project-images-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 1.2rem;
}*/
	

/*.project-images {
	height: 450px;
}*/

.margin-left {
	margin-left: 0px !important;
	padding: 0 4rem;
	padding-bottom: 3rem;
}


/* Contact Section */
.contact-container {
}

.contact-img {
	/*height: 700px;
	width: 720px;*/
	object-fit: cover;
	height: 100%;
}

.left-contact {
	padding-left: 0px !important;
}

.right-contact {
	padding-top: 6rem;
	padding-bottom: 5rem;
}

.contact-desc {
	margin: 6px 6.7rem;
    font-size: 1rem;
}

.name-email {
	display: flex;
}

input[type="text"] {
    width: 233px;
}

input[type="email"] {
    width: 233px;
}

.form-fields {
	margin-right: 113px;
	margin-left: 113px;
}

.form-text {
	font-size: 0.75rem;
}

.send-message-btn {
	background-color: #D4805C;
	border: none;
	width: 100%;
	padding: 0.75rem;
	transition: all 0.3s ease-in-out;
}

.send-message-btn:hover {
	background-color: #B2BAA3;
}

/* Footer Section */
.footer-section {
	background-color: #B2BAA3;
	margin-right: 0;
}

.footer-logo {
	height: 90px;
	margin: 5rem 2rem;
}

.footer-header {
	color: #FAF5EE;
	text-align: left;
}

.footer-col {
	text-align: left;
	margin-top: 5rem;
}

.footer-nav-list {
	list-style: none;
	gap: 2rem;
	padding-left: 0px !important;
	line-height: 32px;
	padding-top: 1rem;
}

.footer-nav-list a {
	text-decoration: none;
	color: #FAF5EE;
}

.footer-nav-link:hover {
	cursor: pointer;
	color: #69655F;
	transition: all 0.2s ease-in-out;
}

.contact-list-container {
	padding-top: 1rem;
}
.contact-list {
	display: flex;
	align-items: center;
}

.get-in-touch-text {
	color: #FAF5EE;
	text-align: left;
	line-height: 32px;
	font-size: 1rem;
	margin-bottom: 0;
}

.footer-icons {
	height: 16px;
	margin-right: 0.75rem;
}

.copyright {
	font-size: 13PX;
    line-height: 1.6;
    color: #FAF5EE;
    margin-top: auto;
    padding-left: 8rem;
    padding-bottom: 2rem;
}

